body {
  font-size: 70%; }

.mainHeader {
  border-top: 1em solid #ec418f;
  margin: 0em 5em 0em 5em; }
  .mainHeader .logo {
    text-align: center;
    background-image: url("../images/logoBackground.jpg");
    background-repeat: no-repeat;
    background-position: center;
    color: white; }
    .mainHeader .logo h1 {
      height: 0em;
      padding: 0.3em 0em 0.6em 0em; }
    .mainHeader .logo .tagLineOne {
      padding: 0.5em 0em 0.8em 0em;
      height: 0em; }
    .mainHeader .logo .tagLineTwo {
      height: 0em;
      padding: 0em 0em 1em 0em; }
  .mainHeader .mainMenu .dropdown {
    padding: 3.5em 0em 2em 0em; }
    .mainHeader .mainMenu .dropdown .btn {
      color: #898a8a;
      background-color: white;
      border: white;
      font-size: 1em;
      padding: 0em 1em 0em 1em; }
    .mainHeader .mainMenu .dropdown .dropdown-menu {
      background-color: #e4498e;
      opacity: 0.9;
      font-size: 1em;
      margin: 0px;
      width: 25em;
      top: 100px;
      left: 100px; }
    .mainHeader .mainMenu .dropdown button:focus {
      color: #e42891;
      box-shadow: 0em 0em 0em white; }
    .mainHeader .mainMenu .dropdown .dropdown-item {
      color: white;
      white-space: normal; }
    .mainHeader .mainMenu .dropdown .dropdown-item:hover {
      background: #e42891; }
  .mainHeader .socialMediaLinks {
    margin: 3.3em 0em 2em 0em; }
    .mainHeader .socialMediaLinks .fa {
      color: white;
      background: #e42891;
      border-radius: 2em;
      padding: 0.5em; }
    .mainHeader .socialMediaLinks .fa-search {
      color: #e42891;
      background: white; }

.jumbotron {
  margin: 0em 5em 0em 5em;
  padding: 0em;
  background-image: url("../images/mainImage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  max-width: 100%; }
  .jumbotron .messageBar {
    background-color: #e4498e;
    opacity: 0.9;
    padding: 1em 0em 1em 10em; }
  .jumbotron .overlay {
    text-align: center;
    padding-bottom: 1em;
    background: linear-gradient(to bottom, rgba(113, 114, 114, 0) 100%, rgba(113, 114, 114, 0.5) 0%); }
    .jumbotron .overlay h3 {
      margin-top: 9em;
      font-size: 4em;
      padding-bottom: 0.3em; }
    .jumbotron .overlay h4 {
      font-size: 1em;
      padding-bottom: 0.7em; }

.intro {
  padding: 5em 10em 5em 10em;
  margin: 0em 5em 0em 5em; }
  .intro .welcomeMessage {
    padding: 0em 3em 0em 0em; }
    .intro .welcomeMessage h1 {
      padding: 0em 0em 1em 0em;
      color: #e4498e;
      font-size: 3.5em; }
    .intro .welcomeMessage .firstParagraph {
      font-size: 1.2em;
      padding: 0em 3em 0em 0em; }
    .intro .welcomeMessage .secondParagraph {
      padding: 0em 3em 4em 0em;
      font-size: 1.0em; }
    .intro .welcomeMessage .readMore {
      padding: 1em 2em 1em 2em;
      background-color: #e4498e;
      color: white;
      border-radius: 2em; }
  .intro .buttonLinks {
    width: 20%;
    display: block;
    float: right; }
    .intro .buttonLinks .image {
      position: relative; }
      .intro .buttonLinks .image img {
        padding-bottom: 1em;
        width: 18em; }
      .intro .buttonLinks .image .lineOne {
        position: absolute;
        top: -100%;
        left: 10%;
        color: white; }
      .intro .buttonLinks .image .lineTwo {
        position: absolute;
        top: 10%;
        left: 10%;
        color: white; }

.news {
  color: white;
  background: #f37f2c;
  margin: 0em 5em 0em 5em;
  padding: 5em 10em 0em 10em; }
  .news h1 {
    padding: 0.5em 0em 1em 0.5em; }
  .news .item {
    color: black;
    background: white; }
    .news .item h4 {
      font-size: 1em;
      padding: 2em; }

.owl-news {
  position: relative; }
  .owl-news .owl-nav {
    padding: 1em; }
    .owl-news .owl-nav .owl-prev, .owl-news .owl-nav .owl-next {
      background: #f37f2c;
      padding: 0em 2em 0em 2em; }
    .owl-news .owl-nav .fa {
      color: #f6a367;
      padding: 0.3em;
      border: 2px solid #f6a367;
      border-radius: 2em; }
    .owl-news .owl-nav .owl-prev:hover, .owl-news .owl-nav .owl-next:hover {
      background: #f37f2c;
      padding: 0em 2em 0em 2em; }
      .owl-news .owl-nav .owl-prev:hover .fa, .owl-news .owl-nav .owl-next:hover .fa {
        border: 2px solid #642d8c;
        background: #642d8c;
        border-radius: 2.0em; }
  .owl-news .owl-dots {
    position: absolute;
    top: 88%;
    left: 48%; }
    .owl-news .owl-dots .owl-dot:hover span, .owl-news .owl-dots .owl-dot.active span {
      background: #642d8c; }

.viewAllNews {
  text-align: center;
  background: #f37f2c;
  margin: 0em 5em 0em 5em;
  padding: 3em; }
  .viewAllNews .view {
    padding: 1em 1.5em 1em 1.5em;
    background: #642d8c;
    color: white;
    border-radius: 2em; }

.calender {
  margin: 0em 5em 0em 5em;
  padding: 5em 10em 0em 10em;
  color: #642d8c; }
  .calender h1 {
    padding: 0.5em 0em 1em 0.5em; }
  .calender .item h3 {
    display: inline;
    font-size: 3em;
    padding: 0em 0.5em 0.5em 0.5em; }
  .calender .item h4 {
    display: inline;
    color: #4e5050; }
  .calender .item .entry {
    color: #ced0d0;
    width: 15em;
    padding: 1em 0em 0em 0em; }
  .calender .owl-calender {
    position: relative; }
    .calender .owl-calender .owl-nav {
      padding: 1em; }
      .calender .owl-calender .owl-nav .owl-prev, .calender .owl-calender .owl-nav .owl-next {
        background: white;
        padding: 0em 2em 0em 2em; }
      .calender .owl-calender .owl-nav .fa {
        color: #ced0d0;
        padding: 0.3em;
        border: 2px solid #ced0d0;
        border-radius: 2em; }
      .calender .owl-calender .owl-nav .owl-prev:hover, .calender .owl-calender .owl-nav .owl-next:hover {
        background: white;
        padding: 0em 2em 0em 2em; }
        .calender .owl-calender .owl-nav .owl-prev:hover .fa, .calender .owl-calender .owl-nav .owl-next:hover .fa {
          border: 2px solid #642d8c;
          background: white;
          border-radius: 2.0em;
          color: #642d8c; }
    .calender .owl-calender .owl-dots {
      position: absolute;
      top: 88%;
      left: 48%; }
      .calender .owl-calender .owl-dots .owl-dot:hover span, .calender .owl-calender .owl-dots .owl-dot.active span {
        background: #642d8c; }
  .calender .viewAllCalender {
    text-align: center;
    margin: 0em 5em 0em 5em;
    padding: 3em; }
    .calender .viewAllCalender .view {
      padding: 1em 1.5em 1em 1.5em;
      background: #642d8c;
      color: white;
      border-radius: 2em; }

@media (min-width: 1500px) {
  body {
    font-size: 100%; }

  .container {
    max-width: 2000px; } }
@media (max-width: 1500px) {
  body {
    font-size: 85%; } }
@media (max-width: 768px) {
  body {
    font-size: 60%; }

  .mainHeader, .jumbotron, .news, .viewAllNews {
    text-align: center; } }
@media (max-width: 576px) {
  body {
    font-size: 80%; }

  .mainHeader, .jumbotron, .intro, .news, .viewAllNews, .calender {
    margin: 0px;
    padding: 0px;
    text-align: center; }

  .mainHeader .mainMenu .dropdown {
    padding: 1em 0em 0em 0em;
    width: 100%;
    font-size: 1.5em; }
  .mainHeader .mainMenu .btn {
    padding: 0.0em 1em 0.5em 1em;
    text-align: center; }

  .jumbotron .messageBar {
    padding: 1em 2em 1em 2em; }
  .jumbotron .overlay {
    padding: 2em; }

  .intro {
    padding: 2em; }
    .intro .welcomeMessage {
      padding: 1em 0em 3em 0em; }
      .intro .welcomeMessage h1 {
        padding-bottom: 0.5em; }
      .intro .welcomeMessage .firstParagraph {
        padding: 0px;
        font-size: 1.5em; }
      .intro .welcomeMessage .secondParagraph {
        padding: 0em 0em 1em 0em;
        font-size: 1.5em; }
    .intro .buttonLinks {
      width: 100%; }
      .intro .buttonLinks .image img {
        width: auto;
        padding: 1em 0em 1em 0em; }

  .news {
    padding: 0em 3em 0em 3em; }
    .news h1 {
      padding: 1em 0em 1em 0em; }
    .news .owl-news .owl-dots {
      top: 100%;
      left: 26.5%; }

  .viewAllNews {
    padding: 4em 0em 3em 0em; }

  .calender {
    text-align: center; }
    .calender .item .entry {
      width: auto; }
    .calender .owl-calender .owl-dots {
      top: 100%;
      left: 30%; }
    .calender .viewAllCalender {
      padding: 4em 0em 10em 0em; } }

/*# sourceMappingURL=output.css.map */
