body {
  font-size: 85%; }

.mainHeader {
  border-top: 1em solid #ec418f; }
  .mainHeader .logo {
    text-align: center;
    background-image: url("../images/logoBackground.jpg");
    background-repeat: no-repeat;
    background-position: center;
    color: white; }
    .mainHeader .logo h1 {
      height: 0em;
      padding: 0.3em 0em 0.6em 0em; }
    .mainHeader .logo .tagLineOne {
      padding: 0.5em 0em 0.8em 0em;
      height: 0em; }
    .mainHeader .logo .tagLineTwo {
      height: 0em;
      padding: 0em 0em 1em 0em; }
  .mainHeader .mainMenu .dropdown {
    padding: 3.5em 0em 2em 0em; }
    .mainHeader .mainMenu .dropdown .btn {
      color: #898a8a;
      background-color: white;
      border: white;
      font-size: 1em;
      padding: 0em 1em 0em 1em; }
    .mainHeader .mainMenu .dropdown .dropdown-menu {
      background-color: #e4498e;
      opacity: 0.9;
      font-size: 1em;
      margin: 0px;
      width: 25em;
      top: 100px;
      left: 100px; }
    .mainHeader .mainMenu .dropdown button:focus {
      color: #e42891;
      box-shadow: 0em 0em 0em white; }
    .mainHeader .mainMenu .dropdown .dropdown-item {
      color: white;
      white-space: normal; }
    .mainHeader .mainMenu .dropdown .dropdown-item:hover {
      background: #e42891; }
  .mainHeader .socialMediaLinks {
    margin: 3.3em 0em 2em 0em; }
    .mainHeader .socialMediaLinks .fa {
      color: white;
      background: #e42891;
      border-radius: 2em;
      padding: 0.5em; }
    .mainHeader .socialMediaLinks .fa-search {
      color: #e42891;
      background: white; }

.jumbotron {
  margin: 0em 5em 0em 5em;
  padding: 0em;
  background-image: url("../images/mainImage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  color: white; }
  .jumbotron .messageBar {
    background-color: #e4498e;
    opacity: 0.9;
    padding: 1em 0em 1em 10em; }
  .jumbotron .overlay {
    text-align: center;
    padding-bottom: 1em;
    background: linear-gradient(to bottom, rgba(113, 114, 114, 0) 100%, rgba(113, 114, 114, 0.5) 0%); }
    .jumbotron .overlay h3 {
      margin-top: 9em;
      font-size: 4em;
      padding-bottom: 0.3em; }
    .jumbotron .overlay h4 {
      font-size: 1em;
      padding-bottom: 0.7em; }

.intro {
  margin: 5em 3em 5em 5em;
  padding: 0em 0em 0em 11em; }
  .intro .welcomeMessage {
    padding: 0em 2em 0em 0em; }
    .intro .welcomeMessage h1 {
      padding: 0em 0em 1em 0em;
      color: #e4498e;
      font-size: 3.5em; }
    .intro .welcomeMessage .firstParagraph {
      font-size: 1.2em;
      padding: 0em 3em 0em 0em; }
    .intro .welcomeMessage .secondParagraph {
      padding: 0em 0em 4em 0em; }
    .intro .welcomeMessage .readMore {
      padding: 1em 2em 1em 2em;
      background-color: #e4498e;
      color: white;
      border-radius: 2em; }
  .intro .buttonLinks {
    width: 20em;
    padding-left: 5em; }
    .intro .buttonLinks .image {
      position: relative;
      padding: 0.5em 0em 0.5em 0em; }
      .intro .buttonLinks .image .lineOne {
        position: absolute;
        top: 40%;
        left: 10%;
        color: white; }
      .intro .buttonLinks .image .lineTwo {
        position: absolute;
        top: 50%;
        left: 10%;
        color: white; }

.news {
  color: white;
  background: #f37f2c;
  margin: 0em 5em 0em 5em;
  padding: 5em 10em 0em 10em; }
  .news h1 {
    padding: 0.5em 0em 1em 0.5em; }
  .news .item {
    color: black;
    background: white; }
    .news .item h4 {
      font-size: 1em;
      padding: 2em; }

.owl-news {
  position: relative; }
  .owl-news .owl-nav {
    padding: 1em; }
    .owl-news .owl-nav .owl-prev, .owl-news .owl-nav .owl-next {
      background: #f37f2c;
      padding: 0em 2em 0em 2em; }
    .owl-news .owl-nav .fa {
      color: #f6a367;
      padding: 0.3em;
      border: 2px solid #f6a367;
      border-radius: 2em; }
    .owl-news .owl-nav .owl-prev:hover, .owl-news .owl-nav .owl-next:hover {
      background: #f37f2c;
      padding: 0em 2em 0em 2em; }
      .owl-news .owl-nav .owl-prev:hover .fa, .owl-news .owl-nav .owl-next:hover .fa {
        border: 2px solid #642d8c;
        background: #642d8c;
        border-radius: 2.0em; }
  .owl-news .owl-dots {
    position: absolute;
    top: 88%;
    left: 48%; }
    .owl-news .owl-dots .owl-dot:hover span, .owl-news .owl-dots .owl-dot.active span {
      background: #642d8c; }

.viewAllNews {
  text-align: center;
  background: #f37f2c;
  margin: 0em 5em 0em 5em;
  padding: 3em; }
  .viewAllNews .view {
    padding: 1em 1.5em 1em 1.5em;
    background: #642d8c;
    color: white;
    border-radius: 2em; }

.calender {
  margin: 0em 5em 0em 5em;
  padding: 5em 10em 0em 10em;
  color: #642d8c; }
  .calender h1 {
    padding: 0.5em 0em 1em 0.5em; }
  .calender .item h3 {
    display: inline;
    font-size: 3em;
    padding: 0em 0.5em 0.5em 0.5em; }
  .calender .item h4 {
    display: inline;
    color: #4e5050; }
  .calender .item .entry {
    color: #ced0d0;
    width: 15em;
    padding: 1em 0em 0em 0em; }
  .calender .owl-calender {
    position: relative; }
    .calender .owl-calender .owl-nav {
      padding: 1em; }
      .calender .owl-calender .owl-nav .owl-prev, .calender .owl-calender .owl-nav .owl-next {
        background: white;
        padding: 0em 2em 0em 2em; }
      .calender .owl-calender .owl-nav .fa {
        color: #ced0d0;
        padding: 0.3em;
        border: 2px solid #ced0d0;
        border-radius: 2em; }
      .calender .owl-calender .owl-nav .owl-prev:hover, .calender .owl-calender .owl-nav .owl-next:hover {
        background: white;
        padding: 0em 2em 0em 2em; }
        .calender .owl-calender .owl-nav .owl-prev:hover .fa, .calender .owl-calender .owl-nav .owl-next:hover .fa {
          border: 2px solid #642d8c;
          background: white;
          border-radius: 2.0em;
          color: #642d8c; }
    .calender .owl-calender .owl-dots {
      position: absolute;
      top: 88%;
      left: 48%; }
      .calender .owl-calender .owl-dots .owl-dot:hover span, .calender .owl-calender .owl-dots .owl-dot.active span {
        background: #642d8c; }
  .calender .viewAllCalender {
    text-align: center;
    margin: 0em 5em 0em 5em;
    padding: 3em; }
    .calender .viewAllCalender .view {
      padding: 1em 1.5em 1em 1.5em;
      background: #642d8c;
      color: white;
      border-radius: 2em; }

/*# sourceMappingURL=output.css.map */
