//css for the welcome messages

.intro{
	
	padding:5em 10em 5em 10em;
	margin:0em 5em 0em 5em;


	
	.welcomeMessage{
		padding:0em 3em 0em 0em;

		h1{
			padding:0em 0em 1em 0em;
			color:#e4498e;
			font-size:3.5em;
		}

		.firstParagraph{
			font-size:1.2em;
			padding:0em 3em 0em 0em;
		}

		.secondParagraph{
			padding:0em 3em 4em 0em;
			font-size:1.0em;
		}

		.readMore{
			padding:1em 2em 1em 2em;
			background-color:#e4498e;
			color:white;
			border-radius:2em;
		}
	}

	.buttonLinks{
		width:20%;
		display:block;
		float:right;
	
		
			
			.image{
				position:relative;

			img{
				padding-bottom:1em;
				width:18em;
			}
				
			
				.lineOne{
					position:absolute;
					top:-100%;
					left:10%;
					color:white;
				}

				.lineTwo{
					position:absolute;
					top:10%;
					left:10%;
					color:white;
				}
			}
		
	}
}




