//css for navbar
body{
	font-size:85%;
}
.mainHeader{
	border-top:1em solid #ec418f;//pink
	
	.logo{
		text-align: center;
		background-image:url("../images/logoBackground.jpg");
	 	background-repeat:no-repeat;
	 	background-position:center;
	 	color:white;

		h1{
			height:0em;
			padding:0.3em 0em 0.6em 0em;
		}

		.tagLineOne{
			padding:0.5em 0em 0.8em 0em;
			height:0em;
		}

		.tagLineTwo{
			height:0em;
			padding:0em 0em 1em 0em;
		}
	}

	.mainMenu{
		
		.dropdown{
			padding:3.5em 0em 2em 0em;
			.btn{
				color:#898a8a; //grey
				background-color:white;
				border:white;
				font-size:1em;
				padding:0em 1em 0em 1em;
			}

			.dropdown-menu{
				background-color:#e4498e;//pink
				opacity: 0.9;
				font-size:1em;
				margin:0px;
				width:25em;
				top:100px;
				left:100px;
			}

			button:focus{
				color:#e42891;//pink
				box-shadow:0em 0em 0em white;
			}

			.dropdown-item{
				color:white;
				white-space:normal;
			}

			.dropdown-item:hover{
				background:#e42891;//pink
			}	
		}
	}

	.socialMediaLinks{
		margin:3.3em 0em 2em 0em;
		
		.fa {
			color:white;
			background:#e42891;
			border-radius:2em;
			padding:0.5em;
		}

		.fa-search{
			color:#e42891;
			background:white;
		}
	}
}


